<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.maria.pastelhub">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <application
        android:name=".application.ICatApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".lessons.TamilLkgUkgActivity" android:exported="false"/>
        <activity
            android:name=".splash_screens.EnglishAnthemActivity"
            android:exported="false" />
        <activity
            android:name=".splash_screens.TamilAnthemActivity"
            android:exported="false" />
        <activity
            android:name=".splash_screens.MainActivity"
            android:screenOrientation="portrait" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_PVtCBpH3jKHIDB" />
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <activity android:name=".star_collecting.activity.StarCollectingActivity" android:exported="false" />
        <activity android:name=".review.ReviewActivity" android:exported="false"/>
        <activity android:name=".videos.playvideo.PlayVideo" android:exported="false"/>
        <activity android:name=".videos.songs.Songs" android:exported="false"/>
        <activity android:name=".videos.weblinks.WebLinks" android:exported="false"/>
        <activity
            android:name=".videos.livevideos.LiveVideo"
            android:screenOrientation="sensorPortrait" android:exported="false"/>
        <activity android:name=".videos.livevideos.LiveVideo1" android:exported="false"/>
        <activity
            android:name=".videos.FullScreenVideoView"
            android:screenOrientation="landscape" android:exported="false"/>
        <activity android:name=".activity.draganddrop.DragandDrop" android:exported="false"/>
        <activity android:name=".activity.draganddrop.DragandDroplu" android:exported="false"/>
        <activity android:name=".activity.draganddrop.DragandDropluTamil" android:exported="false"/>
        <activity android:name=".activity.wordsearch.WordSearch" android:exported="false"/>
        <activity android:name=".activity.choose.ChooseAnswerActivity" android:exported="false"/>
        <activity android:name=".splash_screens.VideoActivity" android:exported="false"/>
        <activity
            android:name=".activity.maze.MazeActivity"
            android:screenOrientation="sensorPortrait" android:exported="false"/>
        <activity
            android:name=".activity.colordrawing.MainActivity"
            android:screenOrientation="sensorPortrait" android:exported="false"/>
        <activity android:name=".activity.lineconnector.LineConnector" android:exported="false"/>
        <activity android:name=".activity.match.MatchActivtiy" android:exported="false"/>
        <activity android:name=".activity.match.LkgMatchActivtiy" android:exported="false"/>
        <activity android:name=".activity.match.TamilLkgMatchActivtiy" android:exported="false"/>
        <activity android:name=".activity.match.UkgMatchActivtiy" android:exported="false"/>
        <activity android:name=".activity.BaseActivityExtends" android:exported="false"/>
        <activity android:name=".lessons.LessonsActivity" android:exported="false"/>
        <activity android:name=".lessons.TamilNumberChoose" android:exported="false"/>
        <activity
            android:name=".ebook.EBook"
            android:hardwareAccelerated="false" android:exported="false"/>
        <activity android:name=".book_landing.BookLanding" android:exported="false"/>
        <activity android:name=".emptystatus.EmptyStatus" android:exported="false"/>
        <activity android:name=".emptystatus.EmptyView" android:exported="false"/>
        <activity android:name=".profile.Profile" android:exported="false"/>
        <activity android:name=".register.Registration" android:exported="false"/>
        <activity android:name=".forgetpassword.ForgetPassword" android:exported="false"/>
        <activity android:name=".login.Login" android:exported="false"/>
        <activity
            android:name=".splash_screens.JesusIntro"
            android:theme="@style/LoginTheme" android:exported="false"/>
        <activity android:name=".dashboard.Dashboard" android:exported="false"/>

        <service android:name=".services.MusicService" android:exported="false"/>

        <receiver android:name="com.razorpay.RzpTokenReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="rzp.device_token.share" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.razorpay.CheckoutActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@style/CheckoutTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <data
                    android:host="rzp.io"
                    android:scheme="io.rzp" />
            </intent-filter>
        </activity>

    </application>

</manifest>